.topArrangement {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px;
}

.customModalMain {
  display: flex;
  gap: 20px;
  align-items: center;
  justify-content: center;
}

.headerMain {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.panelDiv {
  background-color: lightgray;
  border-radius: 30px;
}